<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Admin - Users</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="layout">
    <!-- Sidebar -->
    <aside class="sidebar">
        <div class="brand">🧭 Admin</div>
        <nav class="nav">
            <a th:href="@{/admin}" th:classappend="${activePage}=='dashboard' ? ' active'">🏠 Dashboard</a>
            <a th:href="@{/admin/users}" th:classappend="${activePage}=='users' ? ' active'">👤 Users</a>
            <a th:href="@{/admin/products}" th:classappend="${activePage}=='products' ? ' active'">📦 Products</a>
            <a th:href="@{/admin/orders}" th:classappend="${activePage}=='orders' ? ' active'">🧾 Orders</a>
        </nav>
    </aside>

    <!-- Main -->
    <main class="main">
        <div class="topbar">
            <h1 style="margin:0">Заказы</h1>
            <div class="top-right">
                <span class="muted">👤 <span sec:authentication="name">Admin</span></span>
                <form th:action="@{/auth/logout}" method="post">
                    <button class="btn" type="submit">Выйти</button>
                </form>
            </div>
        </div>

        <!-- Users Table -->
        <section class="panel">
            <h3>Все заказы</h3>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Email пользователя</th>
                    <th>Статус</th>
                    <th>Создано</th>
                    <th>Последнее обновление</th>
                    <th>Общее количество</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}">1</td>
                    <td th:text="${order.user.email}"></td>
                    <td th:text="${order.status}"></td>
                    <td th:text="${order.createdAt}"></td>
                    <td th:text="${order.updatedAt}">0</td>
                    <td th:text="${order.totalAmount}">0</td>
                </tr>
                <tr th:if="${#lists.isEmpty(orders)}">
                    <td colspan="5" class="muted">Нет данных</td>
                </tr>
                </tbody>
            </table>
        </section>
    </main>
</div>
</body>
</html>
