<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация - MyStore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/store.css}">
</head>
<body class="auth-body">

<main class="auth-container">
    <h2>Авторизация</h2>

    <form th:action="@{/auth}" th:object="${user}" method="post" class="auth-form">

        <label for="name">Имя:</label>
        <input type="text" id="name" th:field="*{name}" required>

        <label for="surname">Фамилия:</label>
        <input type="text" id="surname" th:field="*{surname}">

        <label for="email">Email:</label>
        <input type="email" id="email" th:field="*{email}" required>
        <p th:if="${error}" th:text="${error}" class="error"></p>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>

        <label for="phone">Телефон:</label>
        <input type="text" id="phone" th:field="*{phone}">

        <label for="address">Адрес:</label>
        <input type="text" id="address" th:field="*{address}">
        

        <label for="password">Пароль:</label>
        <input type="password" id="password" th:field="*{password}" required>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>

        <button type="submit" class="btn-auth">Войти</button>
    </form>
</main>

</body>
</html>
