<!DOCTYPE html>
<html lang="ru"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Вход - MyStore</title>
    <link rel="stylesheet" th:href="@{/css/store.css}">
</head>
<body class="auth-body">

<div class="auth-container">
    <h2>Вход</h2>

    <form th:action="@{/login}" method="post" class="auth-form">
        <input type="text" name="username" placeholder="Логин" required>
        <input type="password" name="password" placeholder="Пароль" required>

        <button type="submit" class="btn-auth">Войти</button>
    </form>

    <p class="auth-text">
        Нет аккаунта? <a th:href="@{/auth}">Зарегистрироваться</a>
    </p>
</div>

</body>
</html>
